.react-event-calendar {
   
  .event-calendar-heading {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .calendar-header .ant-typography{
      font-size: 10px !important;
      font-weight: 700;
      text-transform: uppercase;
      color: black;
    }
    .calendar-button button {
      font-size: 11px;
      background-color: black;
      color: white;
      font-weight: 500;
      border-radius: 30px;
    }
  }
  .rbc-header{
    border: none;
    span{
      display: block;
      width: 25px !important;
      white-space: pre-wrap;
    }
  }
  .rbc-time-view{
    border: none;
  }
  .rbc-today{
    background-color: white;
  }
  .rbc-toolbar{
    justify-content: space-between;
  }
  .rbc-toolbar-label{
     display: none;
  }
  .rbc-timeslot-group{
    min-height: 60px;
  }

  .rbc-time-content .disabled-day , .rbc-month-row .disabled-day{
    opacity: 0.5;
    pointer-events: none;
    
    border:solid 1px;
    background-color: white;
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 15px,
      #ccc 2px,
      #ccc 2px
        ),
      repeating-linear-gradient(
        135deg,
        transparent,
        transparent 15px,
        #ccc 9px,
        #ccc 16px
      );

  }
  .rbc-event-content{
    font-size: 13px;
    margin-top: 10px;
}
.rbc-today button{
  background-color: #45a4b7;
  color: white;
}

}

.ant-modal-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
    }
    .rbc-time-view .rbc-row{
      min-height: 30px;
    }